html{background-color: rgb(252, 252, 252);}

body{background-color: rgb(252, 252, 252);}

form{width: 20%;
    margin-top: 10%;}

main{display: flex;
    justify-content: center;
   }

h1{font-size: 40px;
    margin-bottom: 3%;
    color: rgb(33,62,78);}

button{background-color:#fa899a !important ;
        border: #fa899a !important;
        color:rgb(33,62,78) !important;}

h3{font-size: 1em;
    margin-top: 5%;
    }

h3 a{text-decoration: none;
    color:grey}